:root {
    --light-pink: #c09bac;
    --dark-green: #314021;
    --medium-green: #617246;
    --dark-gray: #0c0d07;
    --light-beige: #d8c6ba;
    --highlight-yellow: #fff9c4;
}
.navbar {
    background-color: var(--dark-green);
}

.navbar-brand, .nav-link {
    color: var(--light-beige) !important;
    font-family: 'Times New Roman', Times, serif;
}

.nav-link:hover {
    color: var(--highlight-yellow) !important;
}

.container {
    margin-top: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0;
    padding: 20px;
    background-color: var(--light-beige);
    color: var(--dark-gray);
}
.highlight {
    background-color: var(--highlight-yellow);
    font-weight: bold;
}
button {
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--medium-green);
    color: var(--light-beige);
    border: 2px solid var(--medium-green);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--light-pink);
    color: var(--dark-gray);
}
