{% extends "layout.html" %}
{% block content %}
<html>
    <head>
        <title>Home - Technical Hackathon - </title>
    </head>
    <body>
       Hello World!! This is the index page
       
    </body>
    <div>
        <button type="button"><a href="/task_1">Task 1</button></a>
        <br>
        <br>
        <button type="button"><a href="/task_2">Task 2</button></a>
        <br>
        <br>
        <button type="button"><a href="/task_3">Task 3</button></a>
        <br>
        <br>


    </div>

</html>
{% endblock %}