{% extends "layout.html" %}
{% block content %}
<html>
    <head>
        <title>Home - Technical Hackathon - </title>
    </head>
    <body>
       Hello World!! This is the index page
       
    </body>
    <div>
        <button type="button" onclick="window.location.href='/task_1'">Task 1</button>
        <br>
        <br>
        <button type="button" onclick="window.location.href='/task_2'">Task 2</button>
        <br>
        <br>
        <button type="button" onclick="window.location.href='/task_3'">Task 3</button>
        <br>
        <br>
    </div>
</html>
{% endblock %}
